PORT=3000
MQTT_BROKER=mqtt://REDACTED_MQTT_USER:REDACTED_MQTT_PASS@m1.wqtt.ru:19160
MQTT_TOPIC_BASE=watersystem
DEMO_FALLBACK_ENABLED=false
REMOTE_REQUIRE_TOKEN=true
REMOTE_ADMIN_TOKEN=change_me_strong_token
JWT_SECRET=replace_with_random_secret_string_here
PGHOST=postgres
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=watersys
PGPORT=5432
